body {
  text-align: center;
  margin: 0 5%;
}

button {
  width: fit-content;
}

p {
  margin: 0;
}

.search-area {
  background-color: #eeeeee;
}

.links-container {
  display: flex;
  width: 100%;
  margin-top: 5px;
}

.links-container .search {
  width: 37%;
  background-color: #7ee5da;
}

.links-container .links {
  width: 26%;
  background-color: #70ccc2;
}

.links-container .details {
  width: 37%;
  background-color: #62b3aa;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.copyright-text {
  margin-top: 15px;
  font-size: 12px;
}
